.btn-progress {
    box-shadow: none;
    color: transparent !important;
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
    position: relative;
}
.btn-progress:after {
    content: "";
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: .2em;
    --bs-spinner-animation-speed: .75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: transparent;

    display: inline-block;
    width: var(--bs-spinner-width);
    height: var(--bs-spinner-height);
    vertical-align: var(--bs-spinner-vertical-align);
    border-radius: 50%;
    animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
    color: white;
    left: calc(50% - .5em);
    position: absolute;
    top: calc(50% - .5em);
}

.sidebar-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #eee;
}

.sidebar-wrapper .menu,
html[data-bs-theme=dark] .sidebar-wrapper .menu {
    padding: 0 1rem 0 2rem;
}
.sidebar-wrapper .submenu-item i {
    margin-left: -15px;
    margin-right: 10px;
    font-size: 1rem;
    opacity: .6;
    vertical-align: bottom;
}
.navbar-fixed .navbar-top {
    border-bottom: 1px solid #dfe4ee;
}
html[data-bs-theme=dark] .navbar-fixed .navbar-top {
    border-bottom: 1px solid #34384d;
}
.dropdown-divider {
    border-top: 1px solid #d2def2;
}
html[data-bs-theme=dark] .dropdown-divider {
    border-top: 1px solid #393d52;
}
