#appCapsule{position:relative;margin-bottom:env(safe-area-inset-bottom);margin-top:env(safe-area-inset-top)}
.input-icon-append{display:flex;align-items:center;justify-content:center;color:#4F5050;height:38px;font-size:24px;position:absolute;right:7px;bottom:1px;width:32px;opacity:.5}
a { color: #076b89; }
#appCapsule{ min-height: 100vh}
.appBottomMenu, .appHeader, #appCapsule, .extraHeader { max-width: 768px; margin: 0 auto}
.appHeader.bg-brand { box-shadow: none !important}
.bg-brand { background-color: #3BC0CF !important}
.bg-brand-2 { background-color: #157CA1 !important}
.backlayer { width: 100%; height: 150px; position: absolute; z-index: -10; border-radius: 0 0 25px 25px}
.glassmorph { backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3)}
.smallthin {  font-size: .74em; line-height: 14px !important; font-weight: 500;}
.text-primary { color: #157CA1 !important}
dl { margin-bottom: .5rem; }
.page-content p, .page-content li { font-size: 1rem; line-height: 1.5rem; }
.swiper-thumbnail-image { height: 150px; object-fit: cover; }
.scroll-thumbnail-video { height: 235px; object-fit: cover; }
.text-elipsis { display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;max-height: calc(3 * 1.5em);line-height: 1.5em; }
.text-elipsis-3 { -webkit-line-clamp: 3; line-clamp: 3; }
[data-calendar-theme=light] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected, [data-calendar-theme=light] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected, [data-calendar-theme=light] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected:hover, [data-calendar-theme=light] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected:hover { background-color: rgb(6 182 212 / var(--tw-bg-opacity)); color: white; }
[data-calendar-theme=light] .vanilla-calendar-week__day_weekend { color: #64748b; }
button.vanilla-calendar-day__btn.izin, .presensi-status-container.izin { background: #ffe7c2; }
button.vanilla-calendar-day__btn.sakit, .presensi-status-container.sakit { background: #d8c2ff; }
button.vanilla-calendar-day__btn.alpa, .presensi-status-container.alpa { background: #f7adad; }
[data-calendar-theme=light] .vanilla-calendar-day__btn_selected, [data-calendar-theme=light] .vanilla-calendar-day__btn_selected:hover { background-color: transparent; color: #222; border: 2px solid #2196F3; }
.icon-video{ width: 35px; position: absolute; bottom: 5px; left: 8px; z-index: 10; }
.thumbnail-image::after{ content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); pointer-events: none; }
.thumbnail-image-rounded::after{ content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); pointer-events: none; border-radius: 0 0 1rem 1rem; }
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic { z-index: 100; }
.swiper-pagination-fraction {
    background: #3b3e41cc;
    color: #e1e1e1;
    z-index: 100;
    width: 51px;
    border-radius: 10px;
    font-size: .8rem;
    margin: 8px;
    font-weight: 500;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    letter-spacing: -1px;
}
.swiper-pagination-bullet { background: #ffffff; opacity: .8; }
.swiper-pagination-bullet-active { background: #ffffff; opacity: 1; }
.feed-carousel::after{ content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 20%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%); pointer-events: none; z-index: 10; }
.swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 30px;
    color: #666;
    background: #eee;
    border-radius: 50%;
    box-shadow: var(--bs-box-shadow-sm) !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px; font-weight: bold;
}
.swiper-wrapper {
    align-items: center;
}
.offcanvas-body img {
    max-width: 100%;
}

.btn-commit {
    background-color: #3bc0cf;
    background-image: linear-gradient(160deg, #3bc0cf 0%, #1e74fd 100%);
    border: 0;
    color: #eee;
}

.btn-progress {
    box-shadow: none;
    color: transparent !important;
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
    position: relative;
}
.btn-progress:after {
    content: "";
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: .2em;
    --bs-spinner-animation-speed: .75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: transparent;

    display: inline-block;
    width: var(--bs-spinner-width);
    height: var(--bs-spinner-height);
    vertical-align: var(--bs-spinner-vertical-align);
    border-radius: 50%;
    animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
    color: white;
    left: calc(50% - .6em);
    position: absolute;
    top: calc(50% - .6em);
}
.toastify {
    margin: auto;
    left: 0;
    right: 0;
    max-width: 768px;
    width: 100%;
    z-index: 10000;
    font-size: 1rem;
    line-height: 1.3rem;
}
.toastify.bottom {
    bottom: 55px !important;
    top: initial !important;
}
.toastify.primary {
    background: #2196F3;
}
.toastify.success {
    background: #4caf50;
}
.toastify.info {
    background: #03a9f4;
}
.toastify.warning {
    background: #FF9800;
}
.toastify.danger {
    background: #e91e63;
}
.toast-close {
    position: absolute;
    top: 12px;
    right: 10px;
}